---
layout: default
---

<div class="block centre">
    <div class="block-content">
        <span class="site-title-word">This</span>
    </div>
</div>
<div class="block centre tight">
    <div class="block-content">
        <p>A quarterly zine. A quarterly concert.</p>
    </div>
</div>
<div class="block centre-right">
    <div class="block-content">
        <span class="site-title-word">is</span>
    </div>
</div>
<div class="block centre">
    <div class="block-content">
        <p>Not fitting in. A maladay that has affected
            mankind since 2012, and probably before
            that too.</p>
        <p>This Is Not Where I Belong* simultaneously
            staves off and encourages this affliction. We
            realise a printed zine every 3 months, and
            celebrate the arrival of each new edition with
            a live concert.</p>
    </div>
</div>
<div class="block top-right">
    <div class="block-content">
        <span class="site-title-word">not</span>
    </div>
</div>
<div class="block bottom-left">
    <div class="block-content">
        <span class="site-title-word">where</span>
    </div>
</div>
<div class="block centre-left">
    <div class="block-content">
        <span class="site-title-word">I</span>
    </div>
</div>
<div class="block centre">
    <div class="block-content">
        <span class="site-title-word">Belong*</span>
    </div>
</div>
<div class="block centre">
    <div class="block-content">
        <p>Call for  Submissions</p>
    </div>
</div>