<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include head.html %}
</head>
<body class="homepage">

{% include header.html %}

<main class="main-content">
    {% include homepage-header.html %}
    {% assign reverseposts = site.posts | reverse %}
    {% for post in reverseposts %}

        <div class="block centre blank"></div>
        {% assign mod = forloop.index | modulo: 3 %}
        {% if mod == 0 %}
            <div class="block centre blank"></div>
            <div class="block centre blank"></div>
            <div class="block centre blank"></div>
        {% endif %}
        <div class="block centre issue">
            <div class="block-content">
                <span><a href="{{ post.url | fix_permalink }}">#{{ forloop.rindex }}</a></span>
            </div>
        </div>
    {% endfor %}
</main>

{% include footer.html %}
</body>
</html>


